.idea/*
!.idea/runConfigurations/*
node_modules/
target/
.mvn/
logs/
local-keys/*
dist/
node/
*.iml
*.tgz
.DS_Store
**/.DS_Store

# ForgeRock #
#############
pom.xml.versionsBackup

# vscode
.classpath
.factorypath
.project
.settings/
mongodata/
release.properties
*.releaseBackup
pom.xml.versionsBackup
